body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #fbfaf6;
}

@font-face {
  font-family: "PinyonScript";
  src: local('PinyonScript'), url("./fonts/PinyonScript-Regular.ttf") format("truetype");
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}